<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Post_App, <%= @to %></h1>
    <p>
      Someone commented on your post on Post_App,
      <br>
    </p>
    <p>Thanks for posting and have a great day!</p>
  </body>
</html>