body{
	// background-color: wheat !important;
}
.navbar {
	border-radius: 0px !important;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.footer{
	margin-top: 100px;
}

